<section class="rooms_wrapper">
  <button class="back-btn" routerLink="/main"><i class="bi bi-chevron-left"></i></button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 section-title text-center">
        <h6 class="mt-4">What I can do for you</h6>
        <h2>Our Favorite Rooms</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="room h-100">
            <img src=".\assets\images\room\room1.webp" class="card-img-top" alt="Royal Suite">
            <div class="card-body room-content text-center">
              <h4 class="card-title mb-lg-4 mt-4">Royal Suite</h4>
              <p class="card-text">Experience unparalleled luxury in our Royal Suite, designed with elegance and comfort in mind. A perfect blend of style and sophistication.</p>
              <p class="fw-bold mt-lg-4">5000 Rs / per Night</p>
              <button class="main-btn border-white" routerLink="/booking-area/book-now">Book Now</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="room h-100">
            <img src=".\assets\images\room\room2.webp" class="card-img-top" alt="Dreamland Suite">
            <div class="card-body room-content text-center">
              <h4 class="card-title mb-lg-4  mt-4">Dreamland Suite</h4>
              <p class="card-text">Indulge in the Dreamland Suite, where luxury meets tranquility. A spacious suite offering scenic views and the ultimate in relaxation.</p>
              <p class="fw-bold mt-lg-4">4000 Rs / per Night</p>
              <button class="main-btn border-white" routerLink="/booking-area/book-now">Book Now</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="room h-100">
            <img src=".\assets\images\room\room3.webp" class="card-img-top" alt="Prestige Suite">
            <div class="card-body room-content text-center">
              <h4 class="card-title mb-lg-4  mt-4">Prestige Suite</h4>
              <p class="card-text">The Prestige Suite offers exclusive amenities and services, designed to provide the highest level of comfort for our most discerning guests.</p>
              <p class="fw-bold mt-lg-4">3500 Rs / per Night</p>
              <button class="main-btn border-white" routerLink="/booking-area/book-now">Book Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
