/* Navbar Styling */
.header_wrapper {
  position: relative;
  z-index: 100;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar .navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff7f50; 
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #ff7f50; 
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #333; 
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.5rem 0.6rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #ff7f50; 
}

.navbar .navbar-nav {
  margin-left: auto;
  display: flex;
}

.navbar .navbar-nav .nav-item {
  margin-right: 1rem;
}

/* Navbar Toggler */
.navbar-toggler {
  display: none; 
}

@media (max-width: 992px) {
  .navbar .navbar-nav {
    flex-direction: column; 
    text-align: center;
    padding: 1rem 0;
  }

  .navbar .navbar-nav .nav-item {
    margin-bottom: 1rem; 
  }

  .navbar-toggler {
    display: block; 
  }

  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }
}
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #ff7f50;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #ff7f50;
}
.navbar-collapse {
  transition: height 0.35s ease; /* Smooth collapse transition */
}



.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.main-btn{
  font-size: 1rem;
  font-weight: 500;
  color: black ;
  text-transform: uppercase;
  background-color: transparent;
  border: 0.0625rem solid black;
  padding: 0.5rem 1rem;
  border-radius: 3.125rem;
  line-height:1.75rem;
  display: inline-block;
  transition : all 0.3s ease-out 0s;
  width:130px
}
.main-btn:hover{
  background-color : rgb(247, 168, 22);
  color:white
}
