<section class="blog_wrapper pb-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title text-center mb-5 mt-5">
        <h5 class="card-title mt-4">Say Hello To Our Visitors</h5>
        <h2>Our Blog</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card p-0 border-0 rounded-0">
          <img src="/assets/images/blog/blog1.webp" alt="Relax Zone">
          <div class="blog-content bg-white p-4">
            <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
            <h6>By-Admin - February 18, 2023</h6>
            <p class="mt-2">Relax and unwind in our dedicated "Relax Zone" where comfort meets luxury.</p>
            <a class="main-btn mt-2" routerLink="/blog/relax-zone">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card p-0 border-0 rounded-0">
          <img src="/assets/images/blog/blog2.webp" alt="Luxury Suites">
          <div class="blog-content bg-white p-4">
            <h5 class="text-decoration-underline mb-4">Luxury Suites</h5>
            <h6>By-Admin - March 22, 2023</h6>
            <p class="mt-2">Our Luxury Suites offer a perfect blend of elegance and comfort, ensuring you a stay to remember.</p>
            <a class="main-btn mt-2" routerLink="/blog/luxury-suites">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="our-partner-slider mt-5">
    <div class="container swiper our-partner">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/assets/images/partners/brand1.webp" alt="Partner Brand 1"></div>
        <div class="swiper-slide"><img src="/assets/images/partners/brand2.webp" alt="Partner Brand 2"></div>
        <div class="swiper-slide"><img src="/assets/images/partners/brand3.webp" alt="Partner Brand 3"></div>
        <div class="swiper-slide"><img src="/assets/images/partners/brand4.webp" alt="Partner Brand 4"></div>
        <div class="swiper-slide"><img src="/assets/images/partners/brand5.webp" alt="Partner Brand 5"></div>
        <div class="swiper-slide"><img src="/assets/images/partners/brand6.webp" alt="Partner Brand 6"></div>
      </div>
    </div>
  </div>
</section>

<section class="footer-wrapper mt-3 mt-md-0 pb-0">
  <div class="container pb-3 pt-4">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h5>Hotel Location</h5>
        <p class="ps-0">435 C New Housing Society, Thane, Maharashtra, India</p>
        <div class="contact-info">
          <ul class="list-unstyled">
            <li><a><i class="bi bi-house"></i> 435 C New Housing Society, Thane, Maharashtra</a></li>
            <li><a><i class="bi bi-phone"></i> +91 7679 845 678</a></li>
            <li><a><i class="bi bi-envelope"></i> info&#64;hoteldreamland.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>Quick Links</h5>
        <ul class="link-widget p-0">
          <li><a routerLink="/">About Us</a></li>
          <li><a routerLink="/">Our Office</a></li>     
          <li><a routerLink="/">Contact Us</a></li>
          <li><a routerLink="/">Our Rooms</a></li>
          <li><a routerLink="/">Buy Gift Card</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>Customer Services</h5>
        <ul class="link-widget p-0">
          <li><a routerLink="/">Delivery</a></li>
          <li><a routerLink="/">Our Store</a></li>
          <li><a routerLink="/">Guarantee</a></li>
          <li><a routerLink="/">Return Policy</a></li>
          <li><a routerLink="/">Buy Gift Card</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>Newsletter</h5>
        <div class="form-group mb-4">
          <input type="email" class="form-control bg-transparent" placeholder="Enter your email here">
          <button class="main-btn rounded-2 mt-3 border-white text-white">Subscribe</button>
        </div>
        <h5>Stay Connected</h5>
        <ul class="social-network d-flex align-items-center p-0">
          <li><a href="https://www.facebook.com/hoteldreamland" target="_blank"><i class="bi bi-facebook"></i></a></li>
          <li><a href="https://twitter.com/hoteldreamland" target="_blank"><i class="bi bi-twitter"></i></a></li>
          <li><a href="https://www.google.com/hoteldreamland" target="_blank"><i class="bi bi-google"></i></a></li>
          <li><a href="https://www.vimeo.com/hoteldreamland" target="_blank"><i class="bi bi-vimeo"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid copyright-section">
    <p>Copyright <a href="https://www.hoteldreamland.com">Hotel Dreamland</a> All Rights Reserved</p>
  </div>
</section>
