<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel DreamLand</title>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">

  <!-- navbar ends-->

  <!-- banner starts -->
  <section id="home" class="banner_wrapper p-0">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-caption text-center">
            <div>
              <h1>Welcome to Hotel DreamLand</h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe facere maxime molestiae illo similique
                suscipit iusto nobis nihil tenetur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner ends -->
  <section>
    <app-about></app-about>
  </section>
  <section>
    <app-rooms></app-rooms>
  </section>
  <section>
    <app-blog></app-blog>
  </section>
</body>

</html>
