/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css" ;




a{
  text-decoration:none
};
section{
  padding: 3.125rem 0;
  
}
body{margin: 0;}


.error{
  color: rgba(255, 0, 0, 0.7);
}
.main-btn{
  font-size: 1rem;
  font-weight: 500;
  color: black ;
  text-transform: uppercase;
  background-color: transparent;
  border: 0.0625rem solid black;
  padding: 0.5rem 1rem;
  border-radius: 3.125rem;
  line-height:1.75rem;
  display: inline-block;
  transition : all 0.3s ease-out 0s;
  margin-top:10px;
  width:150px
}
.main-btn:hover{
  background-color : rgb(247, 168, 22);
  color:white
}
